<!doctype html>
<!-- Generated <%= htmlWebpackPlugin.options.timestamp %> -->
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.website %>"/>
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.website %><%= htmlWebpackPlugin.options.logo %>?<%= htmlWebpackPlugin.options.timestamp %>"/>
    <meta property="og:image:width" content="<%= htmlWebpackPlugin.options.logoWidth %>"/>
    <meta property="og:image:height" content="<%= htmlWebpackPlugin.options.logoHeight %>"/>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.logo %>?<%= htmlWebpackPlugin.options.timestamp %>">
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.logo %>?<%= htmlWebpackPlugin.options.timestamp %>" sizes="<%= htmlWebpackPlugin.options.logoWidth %>x<%= htmlWebpackPlugin.options.logoHeight %>">
    <link rel="apple-touch-icon" sizes="<%= htmlWebpackPlugin.options.logoWidth %>x<%= htmlWebpackPlugin.options.logoHeight %>" href="<%= htmlWebpackPlugin.options.logo %>?<%= htmlWebpackPlugin.options.timestamp %>">
  </head>
  <body>
	
  </body>
</html>